<nav class="navbar navbar-default navbar-fixed-top navbar-transparente navbar-expand-lg ">
  <div class="logo-tindin ">
    <img routerLink="/app-home" src="assets/imgs/logo-tindin-branca.png" alt="logo-timdin">
  </div>
  <form class="form-input expand-lg " action="/" method="post">
    <input class="input-pesquisa" type="search" name="pesquisa" placeholder="Search Game Here">
    <button class="button-pesquisa" mat-raised-button type="button">SEARCH</button>
  </form>
  <div class=" ">

  </div>
  <div class="dropdown logo-login expand-lg">
    <div class="dropdown-content">
      <a (click)="logout()">Logout</a>
    </div>
    <img routerLink="/app-login" class="img-login" src="assets/imgs/user1.png" alt="logo-login">
  </div>
</nav>
